# exclude everything
/*
# include these
!/i3
!/alacritty
!/broot
!/compton.conf
!/Cutter
!/fltrdr
!/htop
!/kicad
!/kitty
!/jack
!/nano
!/ncmpcpp
!/mpd
!/nnn
!/polybar
!/rofi
!/Thunar
!/yay
!/resh.toml
!/.zshrc
!/.gitignore
!/redshift
!/picom.conf
!/hourly.sh
!/fifteen.sh
!/kritashortcutsrc
!/yay
!/usb
!/redshift
!/MasterPlan
!/caffeine